body{ 
	font-family:Arial, sans-serif;
	font-size:11px;
	line-height:20px;
	padding: 0;
    background: url('schamper-bg.png');
}

h1 {
    font-family:Lucida Grande, Trebuchet MS, Arial, sans-serif;
	line-height:30px;
    font-size:26px;
    text-transform: uppercase;
    text-align: center;
    margin: 6px 3px 2px;
}
 
div.authorAndDate {
    color:#A9A9A9;
	font-size:9pt;
	font-weight:300;
	margin: 0 3px;
    text-align: center;
}

div.content {
    font-family:Georgia, sans-serif;
    font-size:11pt;
    line-height:1.2;
    text-align:left;
	margin: 5px 3px;
}

