body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 8px;
}

h2 {
  font-size: 2em;
  color: #1E64C8;
  margin-bottom: 0.2em;
}

ul {
  padding-left: 20px;
}

ul ul {
  margin: 0;
}

.warning {
  color: #DC4E28;
}

/* Indent the addresses for clarity */
.address {
  padding-left: 0.5em;
}

/* We want to prevent breaking between hours (e.g. 12 - 13 u.) or phone numbers. */
.hours, .telephone {
  white-space: nowrap;
}

/* Force long URLs and e-mails to break */
.url {
  word-wrap: break-word;
}