<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Facebook" version="6.2.1-beta" targetFramework="wp71" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="wp71" />
  <package id="System.Threading.Tasks" version="3.0.2-beta2" targetFramework="wp71" />
  <package id="WPtoolkit" version="4.2012.10.30" targetFramework="wp71" />
</packages>