<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  android:versionCode="8" android:versionName="1.7"
  package="be.ugent.zeus.resto.client">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <uses-sdk android:targetSdkVersion="12" />
  <uses-sdk android:minSdkVersion="8" />

  <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/Theme.Hydra.Light">
    <activity android:name=".Hydra" android:logo="@drawable/hydra">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".Settings" />
    <activity android:name=".News" />
    <activity android:name=".NewsItemActivity" />
    <activity android:name=".Calendar" />
    <activity android:name=".Info" />
    <activity android:name=".GSR" />
    <activity android:name=".BuildingMap" />
    <activity android:name=".RestoMenu" />
    <activity android:name=".SchamperDaily" />
    <activity android:name=".SchamperDailyItem" />
    <receiver android:name=".data.receivers.SchamperDailyReceiver" android:process=":remote" />
    <receiver android:name=".data.receivers.BootReceiver">
        <intent-filter>
          <action android:name="android.intent.action.BOOT_COMPLETED"/>
        </intent-filter>
    </receiver>
    <service android:name=".data.services.MenuService">
      <intent-filter>
        <action android:name="be.ugent.zeus.resto.client.data.services.MenuService" />
      </intent-filter>
    </service>
    <service android:name=".data.services.RestoService">
      <intent-filter>
        <action android:name="be.ugent.zeus.resto.client.data.services.RestoService" />
      </intent-filter>
    </service>
    <service android:name=".data.services.ActivityIntentService">
      <intent-filter>
        <action android:name="be.ugent.zeus.resto.client.data.services.ActivityIntentService" />
      </intent-filter>
    </service>
    <service android:name=".data.services.NewsIntentService">
      <intent-filter>
        <action android:name="be.ugent.zeus.resto.client.data.services.NewsIntentService" />
      </intent-filter>
    </service>
    <service android:name=".data.services.GSRIntentService">
      <intent-filter>
        <action android:name="be.ugent.zeus.resto.client.data.services.GSRIntentService" />
      </intent-filter>
    </service>
    <service android:name=".data.services.SchamperDailyService">
      <intent-filter>
        <action android:name="be.ugent.zeus.resto.client.data.services.SchamperDailyService" />
      </intent-filter>
    </service>
    <uses-library android:name="com.google.android.maps" />
  </application>
</manifest>
