[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
cssselect = "*"
htmlmin = "*"
lxml = "*"
pyquery = "*"
requests = "*"
"urllib3" = "*"

[dev-packages]

[requires]
python_version = "3.6"
