<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>displayName</key>
		<string>Chemica</string>
		<key>internalName</key>
		<string>CHEMICA</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Dentalia</string>
		<key>internalName</key>
		<string>DENTALIA</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Filologica</string>
		<key>internalName</key>
		<string>FILOLOGICA</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Faculteiten Konvent</string>
		<key>internalName</key>
		<string>FKCENTRAAL</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Gentse Biologische Kring</string>
		<key>internalName</key>
		<string>GBK</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Geografica</string>
		<key>internalName</key>
		<string>GEOGRAFI</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Geologica</string>
		<key>internalName</key>
		<string>GEOLOGIC</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Gentse Farma Kring</string>
		<key>internalName</key>
		<string>GFK</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Hermes</string>
		<key>internalName</key>
		<string>HERMES</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>HILOK</string>
		<key>fullName</key>
		<string>Hoger instituut voor lichamelijke opvoeding en kinesitherapie</string>
		<key>internalName</key>
		<string>HILOK</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Kunsthistorische kring</string>
		<key>internalName</key>
		<string>KHK</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Kring Moraal en Filosofie</string>
		<key>internalName</key>
		<string>KMF</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Moeder lies</string>
		<key>internalName</key>
		<string>LIES</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Lila</string>
		<key>internalName</key>
		<string>LILA</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Lombrosiana</string>
		<key>internalName</key>
		<string>LOMBRO</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Oosterse Afrikaanse Kring</string>
		<key>internalName</key>
		<string>OAK</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Politeia</string>
		<key>internalName</key>
		<string>POLITEIA</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Slavia</string>
		<key>internalName</key>
		<string>SLAVIA</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Vlaamse Biomedische Kring</string>
		<key>internalName</key>
		<string>VBK</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Vlaamse Diergeneeskundige Kring</string>
		<key>internalName</key>
		<string>VDK</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Vlaamse Economische Kring</string>
		<key>internalName</key>
		<string>VEK</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>VeTo</string>
		<key>internalName</key>
		<string>VETO</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Vlaamse Geneeskundige Kring</string>
		<key>internalName</key>
		<string>VGKFGEN</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Vlaamse Geschiedkundige Kring</string>
		<key>internalName</key>
		<string>VGKFLWI</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Vlaamse Logopedische en Audiologische Kring</string>
		<key>internalName</key>
		<string>VLAK</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Vlaamse Levenstechnische Kring</string>
		<key>internalName</key>
		<string>VLK</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Vlaamse Psychologische en Pedagogische Kring</string>
		<key>internalName</key>
		<string>VPPK</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Vlaamse Rechtsgenootschap</string>
		<key>internalName</key>
		<string>VRG</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Vlaamse Technische Kring</string>
		<key>internalName</key>
		<string>VTK</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>WiNA</string>
		<key>internalName</key>
		<string>WINA</string>
		<key>parentAssociation</key>
		<string>FKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Home Astrid</string>
		<key>internalName</key>
		<string>ASTRID</string>
		<key>parentAssociation</key>
		<string>HKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Home Bertha de Vriese</string>
		<key>internalName</key>
		<string>BERTHA</string>
		<key>parentAssociation</key>
		<string>HKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Home Boudewijn</string>
		<key>internalName</key>
		<string>BOUDEWIJN</string>
		<key>parentAssociation</key>
		<string>HKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Home Fabiola</string>
		<key>internalName</key>
		<string>FABIOLA</string>
		<key>parentAssociation</key>
		<string>HKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Home Konvent</string>
		<key>internalName</key>
		<string>HKCENTRAAL</string>
		<key>parentAssociation</key>
		<string>HKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Home Vermeylen</string>
		<key>internalName</key>
		<string>VERMEYL</string>
		<key>parentAssociation</key>
		<string>HKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Home Vesalius</string>
		<key>internalName</key>
		<string>VESALIUS</string>
		<key>parentAssociation</key>
		<string>HKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>AIESEC</string>
		<key>internalName</key>
		<string>AIESEC</string>
		<key>parentAssociation</key>
		<string>IKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>BEST</string>
		<key>fullName</key>
		<string>Board of European Students of Technology Ghent</string>
		<key>internalName</key>
		<string>BEST</string>
		<key>parentAssociation</key>
		<string>IKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>ChiSAG</string>
		<key>fullName</key>
		<string>Chinese Students Organisation</string>
		<key>internalName</key>
		<string>CHISAG</string>
		<key>parentAssociation</key>
		<string>IKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>ESN</string>
		<key>fullName</key>
		<string>Erasmus Student Network</string>
		<key>internalName</key>
		<string>ESN</string>
		<key>parentAssociation</key>
		<string>IKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Internationaal Konvent</string>
		<key>internalName</key>
		<string>IKCENTRAAL</string>
		<key>parentAssociation</key>
		<string>IKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Indonesian Students Association Ghent</string>
		<key>internalName</key>
		<string>INDOSAG</string>
		<key>parentAssociation</key>
		<string>IKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>ISAG</string>
		<key>fullName</key>
		<string>International Students Association</string>
		<key>internalName</key>
		<string>ISAG</string>
		<key>parentAssociation</key>
		<string>IKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Iaas</string>
		<key>fullName</key>
		<string>International Association of Agricultural Students</string>
		<key>internalName</key>
		<string>Iaas</string>
		<key>parentAssociation</key>
		<string>IKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Students&apos; Welcome Club</string>
		<key>internalName</key>
		<string>SWC</string>
		<key>parentAssociation</key>
		<string>IKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Tomo No Kai</string>
		<key>internalName</key>
		<string>TNOK</string>
		<key>parentAssociation</key>
		<string>IKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Vinasag</string>
		<key>internalName</key>
		<string>VINASAG</string>
		<key>parentAssociation</key>
		<string>IKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Fotoklas</string>
		<key>internalName</key>
		<string>FOTOKLAS</string>
		<key>parentAssociation</key>
		<string>KULTKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>GUDc</string>
		<key>fullName</key>
		<string>Gentse Universitaire Dansclub</string>
		<key>internalName</key>
		<string>GUDC</string>
		<key>parentAssociation</key>
		<string>KULTKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>GUHO</string>
		<key>fullName</key>
		<string>Gents Universitair Harmonie Orkest</string>
		<key>internalName</key>
		<string>GUHO</string>
		<key>parentAssociation</key>
		<string>KULTKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Gents Universitair Koor</string>
		<key>internalName</key>
		<string>GUK</string>
		<key>parentAssociation</key>
		<string>KULTKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>GUSO</string>
		<key>fullName</key>
		<string>Gents Universitair Symfonisch Orkest</string>
		<key>internalName</key>
		<string>GUSO</string>
		<key>parentAssociation</key>
		<string>KULTKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Kultureel Konvent</string>
		<key>internalName</key>
		<string>KULTKCENTRAAL</string>
		<key>parentAssociation</key>
		<string>KULTKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Matrak</string>
		<key>internalName</key>
		<string>MATRAK</string>
		<key>parentAssociation</key>
		<string>KULTKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Schildersatelier</string>
		<key>internalName</key>
		<string>SCHILDER</string>
		<key>parentAssociation</key>
		<string>KULTKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Studentenfanfare</string>
		<key>internalName</key>
		<string>SF</string>
		<key>parentAssociation</key>
		<string>KULTKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Actief Linkse Studenten</string>
		<key>internalName</key>
		<string>ALS</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Anarchistisch Kollectief</string>
		<key>internalName</key>
		<string>ANARCH</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>CDS</string>
		<key>fullName</key>
		<string>Christen Democratische Studenten</string>
		<key>internalName</key>
		<string>CDS</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Comac</string>
		<key>internalName</key>
		<string>COMAC</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>GPS</string>
		<key>fullName</key>
		<string>StudentenPastoraal Gent</string>
		<key>internalName</key>
		<string>GPS</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>GRAS Gent</string>
		<key>fullName</key>
		<string>Groen Alternatieve Studenten</string>
		<key>internalName</key>
		<string>GRAS</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>International Fellowship of Christian Students</string>
		<key>internalName</key>
		<string>IFECS</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Jonge Europese Federalisten</string>
		<key>internalName</key>
		<string>JEF</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Jong N-VA UGent</string>
		<key>internalName</key>
		<string>JONGNVA</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Jongsocialisten StuGent</string>
		<key>internalName</key>
		<string>JS</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>KASPER</string>
		<key>internalName</key>
		<string>KASPER</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>KVHV</string>
		<key>fullName</key>
		<string>Katholiek Vlaams Hoogstudenten Verbond</string>
		<key>internalName</key>
		<string>KVHV</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>L2 UGent</string>
		<key>internalName</key>
		<string>L2UGENT</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>LVSV</string>
		<key>fullName</key>
		<string>Liberaal Vlaams Studentenverbond</string>
		<key>internalName</key>
		<string>LVSV</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Minos Gent</string>
		<key>internalName</key>
		<string>MINOS</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>NSV! Gent</string>
		<key>fullName</key>
		<string>Nationalistische Studentenvereniging</string>
		<key>internalName</key>
		<string>NSV</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Politiek en Filosofisch Konvent</string>
		<key>internalName</key>
		<string>PFKCENTRAAL</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Ronduit N-VA Gent</string>
		<key>internalName</key>
		<string>RNVA</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Socialisme 21 UGent</string>
		<key>internalName</key>
		<string>ROODUG</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>&apos;t Zal Wel Gaan</string>
		<key>internalName</key>
		<string>TZAL</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Vonk, Marxistische Studenten</string>
		<key>internalName</key>
		<string>VMS</string>
		<key>parentAssociation</key>
		<string>PFKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Schamperdruk</string>
		<key>internalName</key>
		<string>SCHAMPDRUK</string>
		<key>parentAssociation</key>
		<string>SCHAMPER</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Schamper</string>
		<key>internalName</key>
		<string>SCHAMPER</string>
		<key>parentAssociation</key>
		<string>SCHAMPER</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Vader Aalsterse</string>
		<key>internalName</key>
		<string>AALSTERSE</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Antwerpen Boven</string>
		<key>internalName</key>
		<string>AB</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Brugse Universitaire Kring</string>
		<key>internalName</key>
		<string>BUK</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Deliria</string>
		<key>internalName</key>
		<string>DELIRIA</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>HSC De Dijlebrassers</string>
		<key>internalName</key>
		<string>DIJLEBRASSERS</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Dionysus</string>
		<key>internalName</key>
		<string>DIONYSUS</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Moeder Domper</string>
		<key>internalName</key>
		<string>DOMPER</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Moeder Egmont</string>
		<key>internalName</key>
		<string>EGMONT</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Geeraard</string>
		<key>internalName</key>
		<string>GEERAARD</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Internia</string>
		<key>internalName</key>
		<string>INTERNIA</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Laetitia</string>
		<key>internalName</key>
		<string>LAETITIA</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Limburgia</string>
		<key>internalName</key>
		<string>LIMBURGIA</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Moeder Oilsjterse</string>
		<key>internalName</key>
		<string>OILSJTERSE</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Payottenland</string>
		<key>internalName</key>
		<string>PAYOTTEN</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Rodenbach</string>
		<key>internalName</key>
		<string>RODENBACH</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Scaldis</string>
		<key>internalName</key>
		<string>SCALDIS</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Sd&apos;A Gent</string>
		<key>internalName</key>
		<string>SDA</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Senioren Konvent</string>
		<key>internalName</key>
		<string>SKCENTRAAL</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>&apos;t Stropke</string>
		<key>internalName</key>
		<string>STROPKE</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Wase Club</string>
		<key>internalName</key>
		<string>WASE</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Westlandia</string>
		<key>internalName</key>
		<string>WESTLANDIA</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>&apos;t Wielke</string>
		<key>internalName</key>
		<string>WIELKE</string>
		<key>parentAssociation</key>
		<string>SKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Urgent.fm</string>
		<key>internalName</key>
		<string>URGENT</string>
		<key>parentAssociation</key>
		<string>URGENT</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>UGent AAPG Studentchapter</string>
		<key>internalName</key>
		<string>AAPGSC</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>180DC</string>
		<key>internalName</key>
		<string>OEDC</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Archeologische Werkgroep</string>
		<key>internalName</key>
		<string>AW</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>BeMSA</string>
		<key>internalName</key>
		<string>BEMSA</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Capitant Gent</string>
		<key>internalName</key>
		<string>CAPITANT</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>CenEka</string>
		<key>internalName</key>
		<string>CENEKA</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>De Loeiende Koe</string>
		<key>internalName</key>
		<string>DLK</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>FLUX</string>
		<key>internalName</key>
		<string>FLUX</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>FLYSE</string>
		<key>fullName</key>
		<string>Flanders Youth Society for Entrepreneurship</string>
		<key>internalName</key>
		<string>FLYSE</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Groene Kring</string>
		<key>internalName</key>
		<string>GK</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>IEEE SB</string>
		<key>fullName</key>
		<string>IEEE Student Branch Gent</string>
		<key>internalName</key>
		<string>IEEE</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Kajira</string>
		<key>internalName</key>
		<string>KAJIRA</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Klassieke Kring</string>
		<key>internalName</key>
		<string>KK</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>MaCht</string>
		<key>internalName</key>
		<string>MACHT</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Moeder Theepot</string>
		<key>internalName</key>
		<string>THEEPOT</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Noord-Zuid Studenten</string>
		<key>internalName</key>
		<string>ONZ</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>PKarus</string>
		<key>internalName</key>
		<string>PKARUS</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Poutrix</string>
		<key>internalName</key>
		<string>POUTRIX</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>PRIME</string>
		<key>internalName</key>
		<string>PRIME</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Sense</string>
		<key>internalName</key>
		<string>SENSE</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Verkeerd Geparkeerd</string>
		<key>internalName</key>
		<string>VG</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Vereniging Voor Natuurkunde</string>
		<key>internalName</key>
		<string>VVN</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Werkgroepen &amp; Verenigingen Konvent</string>
		<key>internalName</key>
		<string>WVKCENTRAAL</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
	<dict>
		<key>displayName</key>
		<string>Zeus WPI</string>
		<key>fullName</key>
		<string>Zeus WerkgroeP Informatica</string>
		<key>internalName</key>
		<string>ZEUS</string>
		<key>parentAssociation</key>
		<string>WVKCENTRAAL</string>
	</dict>
</array>
</plist>
