<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>info-library</string>
		<key>title</key>
		<string>Bibliotheek</string>
		<key>url-ios</key>
		<string>itms-apps://itunes.apple.com/us/app/ub-gent/id362022518?mt=8</string>
		<key>url-android</key>
		<string>market://details?id=com.bredir.boopsie.ubgent</string>
	</dict>
	<dict>
		<key>image</key>
		<string>info-minerva</string>
		<key>title</key>
		<string>Minerva Mobile</string>
		<key>url</key>
		<string>http://minerva.ugent.be/mobile/</string>
	</dict>
	<dict>
		<key>image</key>
		<string>info-sports</string>
		<key>title</key>
		<string>Sportvoorzieningen</string>
		<key>subcontent</key>
		<array>
			<dict>
				<key>title</key>
				<string>Openingsuren</string>
				<key>html</key>
				<string>info-sport-openingsuren.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Sportaanbod</string>
				<key>html</key>
				<string>info-sport-aanbod.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>UGent.be » Sportvoorzieningen</string>
				<key>url</key>
				<string>http://www.ugent.be/nl/voorzieningen/sport</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>info-bicycle</string>
		<key>title</key>
		<string>Fietsen</string>
		<key>html</key>
		<string>info-fietsen.html</string>
	</dict>
	<dict>
		<key>image</key>
		<string>info-doctors</string>
		<key>title</key>
		<string>Studentenartsen</string>
		<key>html</key>
		<string>info-studentenartsen.html</string>
	</dict>
	<dict>
		<key>image</key>
		<string>info-academiccalendar</string>
		<key>title</key>
		<string>Academische kalender</string>
		<key>html</key>
		<string>info-kalender.html</string>
	</dict>
	<dict>
		<key>image</key>
		<string>info-more</string>
		<key>title</key>
		<string>Meer informatie</string>
		<key>subcontent</key>
		<array>
			<dict>
				<key>title</key>
				<string>UGent.be » Studenten</string>
				<key>url</key>
				<string>http://www.ugent.be/nl/studenten/</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Dienst StudentenActiviteiten</string>
				<key>url</key>
				<string>http://www.student.ugent.be/</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Gentse StudentenRaad</string>
				<key>url</key>
				<string>http://gsr.ugent.be/</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Durf Doen</string>
				<key>url</key>
				<string>http://www.durfdoen.be/</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Schamper</string>
				<key>url</key>
				<string>http://www.schamper.ugent.be/</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Urgent.fm</string>
				<key>url</key>
				<string>http://urgent.fm/</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
