body {
	font-family: Arial, sans-serif;
	font-size: 11px;
	line-height: 20px;
	margin: 0; padding: 0;
    background: #fdfdfd;
}

header {
    background: url('schamper-bg.png');
    padding: 45px 0 3px;
    margin: 0;
    color: #fff;
    border-bottom: 1px solid #ccc;
}

h1 {
    font-family: Lucida Grande, Trebuchet MS, Arial, sans-serif;
	line-height: 28px;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    margin: 6px 12px 2px;
    text-shadow: #111 1px 1px 2px;
}

.meta {
	font-size: 13px;
	font-weight: 300;
	margin: 3px 3px 0;
    text-align: center;
    text-shadow: #333 1px 1px 1px;
}

.content {
    font-family: Georgia, sans-serif;
    font-size: 15px;
    line-height: 1.2;
    text-align: left;
	margin: 5px 8px;
}

a {
	color:#e63c0e;
	text-decoration:none;
}

