body {
  font-family: Helvetica;
  font-size: 14px;
  margin: 8px;
}

.nomargin {
  margin: 0px;
}

h2 {
  font-size: 18px;
  color: #214e80;
  margin: 0 0 4px 0;
}

table {
  font-size: 13px;
  width: 100%;
}

table.sports { width: 100%; }
table.hours { margin: 0 0 10px 0; width: 100%; }

table.sports.td, table.sports.tr { width: 100%;}

table td {
  padding: 8px 4px;
}

table.sports td:first-child {
  text-align: center;
}

table a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #444;
}

table.sports tr:nth-child(2n) { background: #ced6e0; }

table.hours td {
  vertical-align: middle;
  text-align: center;
  padding: 0;
}

h3 {
  font-size: 14px;
  margin: 0;
}

ul {
  padding-left: 20px;
  margin-top: 5px;
}

ul ul {
  margin: 0;
}
