<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  android:versionCode="3" android:versionName="1.2"
  package="be.ugent.zeus.resto.client">
  <application android:icon="@drawable/logo" android:label="Resto Menu">
    <activity android:name=".RestoMenu">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".RestoMap" android:theme="@android:style/Theme.NoTitleBar">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <service android:name=".data.MenuProvider">
      <intent-filter>
        <action android:name="be.ugent.zeus.resto.client.data.MenuProvider" />
      </intent-filter>
    </service>
    <uses-library android:name="com.google.android.maps" />
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-sdk android:minSdkVersion="5" />
</manifest>
