  body {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  
  .container-narrow {
    margin: 0 auto;
    max-width: 700px;
  }
  
  .container-narrow > hr {
    margin: 30px 0;
  }

  .jumbotron {
    margin: 60px 0;
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 64px;
    line-height: 1;
  }
  
  #app-store {
      display: block;
	  background-image:  url("../img/app-store.png");
	  background-image:  none,url("../img/app-store.svg"), url("../img/app-store.png");
      width: 172px;
      height: 50px;
      margin-top: 10px;
      background-size: 100%;
	  background-repeat: no-repeat;
  }
  
  #play-store {
      display: block;
      background: url("../img/play-store.png");
      width: 172px;
      height: 60px;
      margin-top: 10px;
      background-size: 100%;
  }
  
  #wp-store {
      display: block;
      background: url("../img/wp-store.png");
  	  border-radius:8px;
  	  -moz-border-radius:8px;
  	  -khtml-border-radius:8px;
  	  -webkit-border-radius:8px;
      width: 172px;
      height: 60px;
      margin-top: 10px;
      background-size: 100%;
  }
  
  .slides_container {
      width:570px;
      height:270px;
  }
  .slides_container div {
      width:570px;
      height:270px;
      display:block;
  }