  body {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  
  .jumbotron {
    margin: 0px 0;
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 64px;
    line-height: 1;
  }
  
  .footer{
	  margin-top: 20px;
  }
  
  #app-store {
      display: block;
	  background-image:  url("../img/app-store.svg");
	  /*background-image:  none,url("../img/app-store.svg"), url("../img/app-store.png");*/
      width: 172px;
      height: 50px;
      /*margin-top: 10px;*/
      background-size: 100%;
	  background-repeat: no-repeat;
  }
  
  #play-store {
      display: block;
      background: url("../img/play-store.png");
      width: 150px;
      height: 50px;
	  margin-left: 20px;
      /*margin-top: 10px;*/
      background-size: 100%;
	  background-repeat: no-repeat;
  }
  
  #wp-store {
      display: block;
      background: url("../img/wp-store.png");
  	  border-radius:8px;
  	  -moz-border-radius:8px;
  	  -khtml-border-radius:8px;
  	  -webkit-border-radius:8px;
      width: 172px;
      height: 60px;
      margin-top: 10px;
      background-size: 100%;
  }
  
  
  #iphone-background {
      display: block;
      background: url("../img/ios-background.png");
      background-size: 100%;
	  /*padding:20px 5px 20px 5px;*/
  }
  
  .flex-container {
	  background: url(img/iphone.png) no-repeat center 0;
	  background-size: 200%;
}