
  body {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  
  hr {
	  z-index: 100;
  }
  
  .jumbotron {
    margin: 0px 0;
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 64px;
    line-height: 1;
  }
  
  .footer{
	  margin-top: 20px;
  }
  
  #app-store {
      display: block;
	  background-image:  url("../img/app-store.png");
      width: 146px;
      height: 60px;
      /*margin-top: 10px;*/
      background-size: 100%;
	  background-repeat: no-repeat;
  }
  #app-store:hover{
	  background-color: #fff;
  }
  
  #play-store {
      display: block;
      background: url("../img/play-store.png");
      width: 140px;
      height: 55px;
	  margin-left: 20px;
      /*margin-top: 10px;*/
      background-size: 100%;
	  background-repeat: no-repeat;
  }
  
  #wp-store {
      display: block;
      background: url("../img/wp-store.png");
  	  border-radius:8px;
  	  -moz-border-radius:8px;
  	  -khtml-border-radius:8px;
  	  -webkit-border-radius:8px;
      width: 148px;
      height: 55px;
	  margin-left: 20px;
      background-size: 100%;
	  background-repeat: no-repeat;
  }
  
  
  #iphone-background {
	  width: 264px;
	  position: absolute;
	  height: 510px;	  
      background: url("../img/iphone.png") no-repeat center 0;
      background-size: 80%;
	  padding:109px 65px 95px 67px;
  }
  
  .flex-container {
	  position: relative;
   }
   
   .flexslider {
	   border: 0px;
   }
   
   .flex-control-nav {
	   bottom: -20px;
   }
   .flex-control-paging li a {
	   background: #ccc;
   }
   
   .flex-control-paging li a:hover {
	   background: #888;
   }
   
   .flex-control-paging li a.flex-active{
	   background: #444;
	}
	