name: CI

on: [push]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install apt packages
        run: |
          sudo apt-get update
          sudo apt-get install shellcheck
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install html5validator==0.4.2
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install Node dependencies
        run: |
          npm install -g ajv-cli@5.0.0 ajv-formats@2.1.1 ajv-keywords@5.1.0
      - name: Run tests
        run: |
          html5validator --version
          "./server/test.sh"
